.header {
  height: 50px;
  background: #282653;
  font-size: .75rem;
  font-weight: 400;
  color: #95A2AA;

  display: flex;
  justify-content: flex-start;
  padding-left: 50px;

  cursor: pointer;
}

.link {
  width: 150px;
  height: 100%;

  line-height: 50px;
  text-align: center;
}

.link div:active {
  background: #7F56C5;
  color: #FFFFFF;
}

.active {
  background: #7F56C5;
  color: #FFFFFF;
}